<?xml version="1.0"?>
<sdf version="1.6">
  <model name="my_button">
    <link name="base">
      <collision name="collision">
        <geometry>
          <box>
            <size>0.1 0.1 0.01</size>
          </box>
        </geometry>
      </collision>
      <visual name="visual">
        <geometry>
          <box>
            <size>0.1 0.1 0.01</size>
          </box>
        </geometry>
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Green</name>
          </script>
        </material>
      </visual>
      <sensor name="contact" type="contact">
        <contact>
          <collide_bitmask>1</collide_bitmask>
          <collision>collision</collision>
        </contact>
      </sensor>
      <sensor name="force" type="force">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
      </sensor>
    </link>
  </model>
</sdf>
